ul {
    list-style-type: none;
    margin-top: 25px;
}

li {
    font-size: 2em;
    margin-bottom: 15px;
}

h1 {
   text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: #ebebeb;
}

#existing, #array, #random, #selection, #insertion{
    border: 1px solid black;
    width: 300px;
}

div {
    display: inline-block;
}

#container {
    display: block;
    position: relative;
    margin-left: 40px;
}