ul {
    list-style-type: none;
}

li {
    font-size: 2em;
}

div {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
}

#trigger {
    background-color: yellow;
    height: 300px;
}